/* Reset some default styles */
body, h1, h2, p, table, th, td {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: "Montserrat", sans-serif;
    background: #f7edd5; /* Same background color as earlier */
    color: #333;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #000; /* Changed heading color to black */
}

h2 {
    color: #000; /* Changed heading color to black */
}

/* Form styling */
form {
    background: rgba(0,0,0,.85); /* Adjusted background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

label, input[type="file"], textarea, input[type="submit"] {
    display: block;
    color: #a19fa1;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-top: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #f95959; /* Adjusted button color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    color: #000; /* Changed table content color to black */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #000; /* Changed table content color to black */
}

th {
    background-color: #000; /* Adjust header background color */
    color: #fff; /* Change font color of table headings to white */
}

/* Responsive layout */
@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 15px;
    }
}

.resume-list-container {
    overflow-y: scroll;
    max-height: 300px; /* Adjust the height as needed */
}

.resume-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resume-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.resume-table-container {
    overflow-y: scroll;
    max-height: 300px; /* Adjust the height as needed */
}

.resume-table {
    border-collapse: collapse;
    width: 100%;
}

.resume-table th,
.resume-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #000; /* Set table content color to black */
}

.resume-table th {
    background-color: #000; /* Adjust header background color */
    color: #fff; /* Change font color of table headings to white */
}
