<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> HOME PAGE</title>
  <link rel="stylesheet" href="./home.css">
  <style>
    .btn {
      display: inline-block;
      text-align: center;
      margin: 10px;
      padding: 10px 20px;
      background: #220d0d4d;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    .btn a {
      text-decoration: none;
      color: #c22323;
      display: block;
    }
    .btn img {
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="btn">
      <a href="team.html">
        <img src="team.jpg" height="75" alt="Team Image">
        <span>TEAM RECOMMENDER</span>
      </a>
    </div>
    <div class="btn">
      <form action="/analyze_resume" method="POST" enctype="multipart/form-data">
        <label for="resume_files">Upload Resume:</label>
        <input type="file" name="resume_files" id="resume_files">
        <input type="submit" value="Resume Analyzer">
      </form>
    </div>
  </div>		
</body>
</html>
